*.o
autodep
CircuitRouter-SeqSolver/CircuitRouter-SeqSolver
CircuitRouter-ParSolver/CircuitRouter-ParSolver
CircuitRouter-SimpleShell/CircuitRouter-SimpleShell
CircuitRouter-AdvShell/CircuitRouter-AdvShell
CircuitRouter-Client/CircuitRouter-Client
test_simple_list
test_hashtable
*.a
.*
*.txt
!README.txt
*.md
!README.md
*.res
*.old
vgcore*
*.zip
*speedups.csv
profiles
test

